.fa-envelope,
.fa-github,
.fa-linkedin {
    color: #f9cf00;
}

.fa-envelope:hover,
.fa-github:hover,
.fa-linkedin:hover {
    transition: transform 0.3s ease-in-out;
    color: #b89e20;
    transition-delay: 50ms;
    cursor: pointer;
}

.download-cv:hover {
    color: #b89e20;
}

/* .group-button-style {
    position: sticky;
    top: 83.5vh;
    align-self: center;
}

.group-button-style > a ~ a {
    margin-left: 15px;
} */

/* .contact-btns-small-screen,
.cv-small-screen {
    display: none;
} */

@media (max-width: 1300px) {
    .made-with-small-screen {
        /* margin-top: 30px; */
    }

    .contact-info-small-screen {
        /* display: flex; */
    }

    /* .cv-small-screen,
    .contact-btns-small-screen {
        position: fixed;
        top: 30px;
        left: 100px;
        z-index: 5;
    } */
}
