.fa-envelope,
.fa-github,
.fa-linkedin {
    color: #f9cf00;
}

.fa-envelope:hover,
.fa-github:hover,
.fa-linkedin:hover {
    transition: transform 0.3s ease-in-out;
    /* transform: scale(1.2); */
    color: #b89e20;
    transition-delay: 50ms;
    cursor: pointer;
}

.download-cv:hover {
    color: #b89e20;
}
