.home {
    color: black;
    min-height: 100vh;
    padding-left: 28%;
    align-content: center;
    text-align: center;
    z-index: 2;
    position: relative;
}

.i-am-text {
    font-size: 36px;
}

.about-card-title {
    position: absolute;
    top: 1%;
    right: 10%;

    width: 250px;
    height: 250px;

    margin-top: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    opacity: 0.85;
}

.about-card-text {
    margin-top: 150px;
    margin-bottom: 80px;
    padding: 0 5% 0 37%;
    font-family: Nunito, sans-serif;
}

.contact-card-content {
    justify-content: center;
    flex-grow: 1;
    margin: 30px 0;
    padding: 0 8% 0 32%;
}

.thank-you-text {
    padding: 5% 5% 0 30%;
    color: grey;
    font-family: Nunito, sans-serif;
}

.contact-container .thank-you-divider {
    padding: 0 5% 5% 30%;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 20px;
}

@media (max-width: 1300px) {
    .about-card-title {
        position: absolute;
        top: 1%;
        width: 200px;
        height: 200px;
    }

    .about-card-text {
        padding: 0 5% 0 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-card-content {
        padding: 0 8% 0 12%;
    }

    .thank-you-text {
        padding: 5% 5% 0 5%;
    }

    .contact-container .thank-you-divider {
        padding: 0 5% 5% 5%;
    }
}

@media (max-width: 900px) {
    .i-am-text {
        font-size: 24px;
    }
}
