.stickyMenu {
    position: absolute;
    top: 0;
    left: 10%;

    display: flex;
    flex-direction: column;
    gap: 40px;

    background: linear-gradient(
        0deg,
        rgba(172, 55, 255, 1) 0%,
        rgba(14, 6, 37, 1) 45%,
        rgba(71, 96, 217, 1) 72%,
        rgba(34, 193, 195, 1) 100%
    );
    color: white;
    box-shadow: 4px 4px 4px grey;
    border-radius: 0;

    width: 18%;
    /* height: contentHeight, */
    transition: height 3.7s;

    text-align: center;
    z-index: 5;
    opacity: 0.95;
    font-family: Nunito, sans-serif;
}

.me-image-small-screen-box {
    display: none;
}

.me-image-wide-screen {
    position: absolute;
    top: 48vh;
    left: -23%;
    width: 250px;
    border: 8px solid #fff;
    border-radius: 3p;
    margin-right: 30px;
    box-shadow: 1px 1px 5px rgb(117, 116, 116);
}

.tabs-panel-box {
    display: flex;
    position: sticky;
    top: 20vh;
    align-self: center;
    z-index: 10;
    /* transform: scale(0.9); */
}

.tabs-panel {
    /* transform: scale(0.9); */
}

@media (max-width: 1300px) {
    .stickyMenu {
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: row;
        gap: "40px";
        padding-bottom: 20px;

        background: rgba(33, 138, 179, 0.85);
        color: white;
        box-shadow: 4px 4px 4px grey;
        border-radius: 0;

        width: 100vw;
        /* height: 150px; */
        /* transition: "height 3.7s", */

        /* textAlign: "center", */
        z-index: 5;
        opacity: 0.95;
        font-family: Nunito, sans-serif;
    }

    .me-image-wide-screen-box {
        display: none;
    }

    .me-image-small-screen-box {
        display: block;
    }

    .me-image-small-screen {
        position: absolute;
        top: 125px;
        left: 5%;
        width: 100px;
        border: 4px solid #fff;
        border-radius: 3px solid white;
        margin-right: 30px;
        box-shadow: 1px 1px 5px rgb(117, 116, 116);
        z-index: 5;
    }

    .tabs-panel-box {
        /* display: flex;
        position: sticky;
        top: 20vh;
        align-self: center;
        z-index: 10; */
        /* transform: scale(0.9); */
    }

    .tabs-panel {
        /* transform: scale(0.9); */
    }
}
