* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
    margin: 5%;
}

.first-scroll-container,
.second-scroll-container {
    height: 23vh;
}

.first-carousell-primary,
.first-crousell-secondary {
    position: absolute;
    top: 30%;
    /* left: 100%; */
    width: 100%;
    /* overflow: hidden; */
    /* white-space: nowrap; */
}

.second-carousell-primary,
.second-carousell-secondary {
    position: absolute;
    top: 70%;
    left: 100%;
    width: 100%;
    /* overflow: hidden; */
    /* white-space: nowrap; */
}

.first-carousell-primary Card {
    width: 100%;
    margin-left: 20px;
    border-radius: 10px;
}

.second-carousell-primary Card {
    width: 100%;
    margin-left: 20px;
    border-radius: 10px;
}

.first-carousell-primary,
.second-carousell-primary {
    display: flex;
    justify-content: space-around;
    animation: scroll-horizontal 20s linear infinite;
}

.first-crousell-secondary {
    animation: scroll-horizontal 20s linear infinite;
    animation-delay: 10s;
}

.second-carousell-secondary {
    animation: scroll-horizontal 20s linear infinite;
    animation-delay: 10s;
}

@keyframes scroll-horizontal {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

.first-carousell-primary:hover,
.first-carousell-primary:hover ~ .first-carousell-secondary {
    animation-play-state: paused;
}

.first-carousell-secondary:hover {
    animation-play-state: paused;
}

.first-scroll-container:hover > .first-carousell-primary:not(:hover) {
    animation-play-state: paused;
}

.second-carousell-primary:hover,
.second-carousell-primary:hover ~ .second-carousell-secondary {
    animation-play-state: paused;
}

.second-carousell-secondary:hover {
    animation-play-state: paused;
}

.second-scroll-container:hover > .second-carousell-primary:not(:hover) {
    animation-play-state: paused;
}
